/* .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} */

/* .sidebar {
    margin-top: 3.5rem;
    height: 10%;
    /* color: rgba(255, 255, 255, 1) ; */
    /* background-color: rgba(255, 255, 255, 0) !important;  
  }

.sidebar-open{
    margin-top: 3.5rem;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
} */
.content {
    position: relative;
    transition: all 0.15s;
    padding: 0 20px;
    overflow: hidden;
    margin-left: 64px;
} 
/* 
.sidebar.open {
    left: 240px;
} */
.content .open {
    left: 240px;
}

#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.w-lists .search {
    position: relative;
    top: 0rem;
    left: 1.75rem;
    width: 100%;
}

.w-lists .search input {
    padding-right: 1.5rem;
}

.w-lists .search i {
    position: absolute;
    top: 4.25rem;
    right: 0.5rem;
}

.w-lists .search i:hover {
    color: #5bc0de;
}


@media (min-width: 576px) {
    .w-lists .search {
        width: 11rem;
    }
}

.wardrobe-list{
    /* max-width: 300px; */
    width: 100%;
    /* display: inline-block; */
}