/* .wardrobe-list{
    width: auto;
    display: inline-block !important;
    grid-template-columns: auto auto;
} */

.grid3{
    width: auto;
    display: inline-grid !important;
    grid-template-columns: auto auto;
}
