.rec{
    border: dotted 2px black;
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 200px;
}

.rec-change{
    border: none;
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 200px;
}